body{background-color: blueviolet;
    
    
}
.nav{
    display: flex;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    margin: 10px;  
    font-weight: 400;
}
.pro{
    text-align: center;
}
h1{
    color: green;
}